{% for item in entry.contents %}
  <h3 class="card-title font-weight-medium" style="color: var(--global-theme-color);">
    <a href="{{ item.data_link }}" target="_blank" rel="noopener">{{ item.name }}</a>

  <p class="mb-0 small font-weight-normal">
    <br><b>Authors:</b> {{item.authors}} <br><br>
  </p>
  <div class="left" style="display: flex; gap: 1rem; margin-bottom: 2rem;">
    <div style="flex: 1;">
      <p class="mb-0 small font-weight-normal">
        <b>Description:</b> {{ item.description }} <br><br>
      </p>
      {% if item.citation %}
      <p class="mb-0 small font-weight-normal">
        <b>Citation:</b> {{item.citation}} <a href="https://doi.org/{{ item.citation_doi }}" target="_blank" rel="noopener">{{ item.citation_doi }}</a><br><br>
      </p>
      {% endif %}
      {% if item.extra_info %}
        <p class="mb-0 small font-weight-normal">
          {{ item.extra_info }}<br><br>
        </p>
      {% endif %}
      <p class="mb-0 small font-weight-normal">
       <b>Link to dataset:</b> <a href="{{ item.data_link }}" target="_blank" rel="noopener">{{item.data_link}}</a><br>
      </p>
    </div>
    {% if item.image %}
    <div style="flex-shrink: 0;">
      <img src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid rounded" style="width: 150px; height: 150px; object-fit: cover;" />
    </div>
    {% endif %}
  </div>
  </h3>
{% endfor %}