---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    <div class="cv">
      {% for entry in site.data.3dparts %}
        <a class="anchor" id="{{ entry.title }}"></a>
        <div class="card mt-3 p-3">
          <h3 class="card-title font-weight-medium">
            {% if entry.icon %}
              <i class="{{ entry.icon }}"></i>
            {% endif %}
            {{ entry.title }}
          </h3>
          <div>
            {% if entry.type == '3dparts_list' %}
              {% include 3dparts/3dparts_list.liquid %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </article>
</div>